<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hello,</p>
    <p>Please find the attached photo related to the case.</p>
    <p>Best regards,<br>Your Team</p>
  </body>
</html>
